.node-red/flows_dnr-py2.json
[{"id":"40f85c4e.67e5e4","type":"tab","label":"webserver-example","disabled":false,"info":""},{"id":"2caeec2a.29aaf4","type":"tab","label":"telegram FaceBot","disabled":false,"info":""},{"id":"8d844641.9cf868","type":"tab","label":"csv-parallel-processing","disabled":false,"info":""},{"id":"e3de08a4.28d6f8","type":"tab","label":"csv-parallel-links","disabled":false,"info":""},{"id":"ea3e4197.aac14","type":"telegram bot","z":"","botname":"private face bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"bd94d6bf.e4df18","type":"deepstack-server","proto":"http","host":"34.118.162.138","port":"80","version":"v1","rejectUnauthorized":false},{"id":"fdb3ca7b.4aadb8","type":"telegram bot","botname":"simple face bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"6afc139a.0e6f4c","type":"deepstack-server","z":"","proto":"http","host":"34.95.32.76","port":"80","version":"v1","rejectUnauthorized":false},{"id":"8fe48b5e.a5ef98","type":"http in","z":"40f85c4e.67e5e4","name":"Get Req Single","url":"/greet","method":"get","upload":false,"swaggerDoc":"","x":100,"y":40,"wires":[["89121c94.5e988"]],"privacy_labels":{}},{"id":"2f6cc381.ecb80c","type":"file in","z":"40f85c4e.67e5e4","name":"Get user from users.csv","filename":"./users.csv","format":"utf8","chunk":false,"sendError":false,"x":150,"y":120,"wires":[["f3bd9ca6.774ac"]]},{"id":"f3bd9ca6.774ac","type":"function","z":"40f85c4e.67e5e4","name":"Read user record","func":"const parseCSV = csvString => {\n    const lines = csvString.trim().split('\\n'); \n    const headers = lines[0].split(',').map(header => header.trim());\n    const data = [];\n    for (let i = 1; i < lines.length; i++) {\n        const values = lines[i].split(',');\n        const entry = {};\n        for (let j = 0; j < headers.length; j++) {\n            entry[headers[j]] = values[j].trim();\n        }\n        data.push(entry);\n    }\n    return data;\n};\n\n// Parse CSV data from msg.payload\nconst tracker = flow.get('tracker');\nconst csvData = parseCSV(msg.payload);\n\nif (Array.isArray(msg.uids)) {\n    let users = msg.uids.map(id => {\n        return csvData.find(entry => entry.uid == id);\n    });\n\n    if (users.length > 0) {\n        msg.statusCode = 200;\n        msg.payload = users;\n    } else {\n        msg.statusCode = 500;\n        msg.payload = { error: 'No users found' };\n    }\n} else {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Invalid user IDs' };\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["e254487d.289dc8"]],"privacy_labels":{"users":{"id":"users","property":"payload","access_control":"owner","fill":"#7625c6","text":"users"}}},{"id":"e254487d.289dc8","type":"http response","z":"40f85c4e.67e5e4","name":"HTTP Res","statusCode":"msg.statusCode","headers":{},"x":580,"y":120,"wires":[],"inputLabels":["msg.payload"],"privacy_labels":{"sink":{"id":"sink","property":"req","access_control":"reader","fill":"#7625c6","text":"sink"}}},{"id":"e01c9a2e.662858","type":"function","z":"40f85c4e.67e5e4","name":"auth_and_process_req","func":"// Check if the request contains a password parameter\nconst password = msg.req.query.password;\n// Simulate authentication logic (for example, checking a password)\nif (password === 'employeepass') {\n    msg.req.agent = 'private';    // Set group to 'employee' for authenticated employees\n} else {\n    msg.req.agent = 'public';    // Set group to 'public' for others\n}\n\nconst uidParam = msg.req.query.uid;\nif (uidParam) {\n    try {\n        msg.uids = JSON.parse(uidParam);\n        if (!Array.isArray(msg.uids)) {\n            throw new Error('UIDs must be provided as an array');\n        }\n    } catch (error) {\n        return { error: 'Invalid UID format' };\n    }\n} else {\n    msg.uids = [];  // Default to an empty array if no IDs are provided\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":40,"wires":[["2f6cc381.ecb80c"]],"privacy_labels":{"request":{"id":"request","property":"req","access_control":"reader","fill":"#7625c6","text":"request"}}},{"id":"89121c94.5e988","type":"tracker-config","z":"40f85c4e.67e5e4","fileNameType":"defineRulesHere","labellerFileType":"passFileName","policyFileName":"","labellerFileName":"","rules":[{"source":"employee","sink":"public","action":"allow"},{"source":"employee","sink":"private","action":"allow"},{"source":"guest","sink":"private","action":"allow"},{"source":"guest","sink":"public","action":"disallow"}],"labellers":[{"label":"users","func":"users => users.obj.map(user => user.role);"},{"label":"request","func":"obj => obj.obj.agent"},{"label":"response","func":"obj => req.agent"},{"label":"message","func":"obj => obj.obj.plabel"},{"label":"user","func":"obj => obj.obj.role"}],"x":300,"y":40,"wires":[["e01c9a2e.662858"]]},{"id":"d34b32fb.db875","type":"telegram command","z":"2caeec2a.29aaf4","name":"/help","command":"/help","description":"","registercommand":false,"language":"","bot":"ea3e4197.aac14","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":130,"y":140,"wires":[["6829ab9b.e271d4"]]},{"id":"6829ab9b.e271d4","type":"function","z":"2caeec2a.29aaf4","name":"create help text","func":"var helpMessage = \"/help - shows help\";\n\nhelpMessage += \"\\r\\n/register - Prompts a photo and register face\";\n\nhelpMessage += \"\\r\\n/detect - Given an image fetects the faces of people in the photo\";\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["5500a7dd.6fc578"]]},{"id":"5500a7dd.6fc578","type":"telegram sender","z":"2caeec2a.29aaf4","name":"send response","bot":"ea3e4197.aac14","haserroroutput":false,"outputs":1,"x":540,"y":140,"wires":[[]]},{"id":"563bc5f8.3401bc","type":"debug","z":"2caeec2a.29aaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":100,"wires":[]},{"id":"ba766804.130198","type":"catch","z":"2caeec2a.29aaf4","name":"","scope":null,"x":140,"y":40,"wires":[["563bc5f8.3401bc","87ff18de.1d3de8"]]},{"id":"4cea6495.a2503c","type":"telegram command","z":"2caeec2a.29aaf4","name":"/recognize","command":"/recognize","description":"","registercommand":false,"language":"","bot":"ea3e4197.aac14","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":100,"y":200,"wires":[["83bd9fde.66068"]]},{"id":"71382fbc.a0f45","type":"telegram sender","z":"2caeec2a.29aaf4","name":"send question","bot":"ea3e4197.aac14","haserroroutput":false,"outputs":1,"x":660,"y":260,"wires":[["11eb2c59.6107d4"]]},{"id":"11eb2c59.6107d4","type":"telegram reply","z":"2caeec2a.29aaf4","name":"get reply","bot":"ea3e4197.aac14","x":840,"y":260,"wires":[["aa786c15.0e1f3","7640734.39af98c"]]},{"id":"b1cf5ba2.8700f8","type":"http request","z":"2caeec2a.29aaf4","name":"","method":"GET","ret":"txt","url":"","tls":"","x":470,"y":320,"wires":[["f4c605de.edb928"]]},{"id":"aa786c15.0e1f3","type":"function","z":"2caeec2a.29aaf4","name":"get filepath from Telegram API","func":"msg.messageId = msg.payload.messageId;\nmsg.chatId = msg.payload.chatId;\nmsg.url = `https://api.telegram.org/bot6882825164:AAFzWAO3Ib6TViWI6LROaLDeXtyx1UJe2rQ/getFile?file_id=${msg.payload.content}`;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["b1cf5ba2.8700f8"]]},{"id":"f4c605de.edb928","type":"function","z":"2caeec2a.29aaf4","name":"get file from Telegram API","func":"let filePath = JSON.parse(msg.payload).result.file_path;\nmsg.url = `https://api.telegram.org/file/bot6882825164:AAFzWAO3Ib6TViWI6LROaLDeXtyx1UJe2rQ/${filePath}`;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["7a8a1848.ee33a8","89655c3f.9bc5d"]]},{"id":"7a8a1848.ee33a8","type":"jimp-image","z":"2caeec2a.29aaf4","name":"Load image","data":"url","dataType":"msg","ret":"buf","parameter1":"","parameter1Type":"","parameter2":"","parameter2Type":"","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":210,"y":400,"wires":[["21cad35f.eb490c","551ec41d.67267c"]]},{"id":"21cad35f.eb490c","type":"image viewer","z":"2caeec2a.29aaf4","name":"","width":"100","data":"payload","dataType":"msg","active":true,"x":210,"y":460,"wires":[[]]},{"id":"551ec41d.67267c","type":"deepstack-face-recognition","z":"2caeec2a.29aaf4","name":"","server":"6afc139a.0e6f4c","confidence":"60","drawPredictions":false,"outlineColor":"pink","filters":[],"outputs":1,"x":410,"y":400,"wires":[["9e08d1d6.1bf1"]]},{"id":"9e08d1d6.1bf1","type":"function","z":"2caeec2a.29aaf4","name":"Get User Objects","func":"const users = [];\nconst userids = [];\nif (Array.isArray(msg.payload)) {\n    for (let i = 0; i < msg.payload.length; i++) {\n        let user = msg.payload[i];\n        // todo: here I should read the label from somewhere else\n        //user.privacyLevel = \"private\";\n        users.push(user);\n        userids.push(msg.payload[i].userid);\n    }\n}\nmsg.botPayload = {type: 'message', chatId: msg.chatId, content: users, options: {reply_to_message_id : msg.messageId}};\nmsg.recognizedUsers = users;\nmsg.recognizedUsersStr = \"Users: \" + userids.toString();\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["61bd9a37.494244","7640734.39af98c"]],"privacy_labels":{"recognizedUsers":{"id":"recognizedUsers","data_property":"recognizedUsers","access_control":"owner","fill":"#4286f4","text":"recognizedUsers"}}},{"id":"7625ad7a.f19484","type":"telegram sender","z":"2caeec2a.29aaf4","name":"send userIds","bot":"ea3e4197.aac14","haserroroutput":false,"outputs":1,"x":750,"y":580,"wires":[[]]},{"id":"ccd75ca.b42d5a","type":"google-cloud-gcs-write","z":"2caeec2a.29aaf4","account":"","keyFilename":"./macro-polymer-412217-19af5fa934d8.json","filename":"macro-polymer-412217-19af5fa934d8.json","contentType":"","name":"","x":680,"y":520,"wires":[["ae71b41a.3a8e48"]],"privacy_labels":{"gcp_sink":{"id":"gcp_sink","data_property":"recognitionReq","access_control":"reader","fill":"#407266","text":"gcp_sink"}}},{"id":"61bd9a37.494244","type":"jimp-image","z":"2caeec2a.29aaf4","name":"gcp_buffer","data":"originalImage","dataType":"msg","ret":"buf","parameter1":"tmp.jpg","parameter1Type":"str","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":510,"y":460,"wires":[["c338ff5c.cd13"]],"icon":"font-awesome/fa-image"},{"id":"c338ff5c.cd13","type":"function","z":"2caeec2a.29aaf4","name":"set_filename","func":"const timestamp = Date.now();\nconst filename = `gs://node-red-chatbot/chatbot_${timestamp}.jpg`;\nmsg.filename = filename;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[["ccd75ca.b42d5a","7640734.39af98c"]]},{"id":"ae71b41a.3a8e48","type":"function","z":"2caeec2a.29aaf4","name":"Recognition Result Msg","func":"msg.payload = msg.botPayload;\nmsg.payload.content = msg.recognizedUsersStr;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["7625ad7a.f19484"]]},{"id":"83bd9fde.66068","type":"function","z":"2caeec2a.29aaf4","name":"Storage Blob Prompt","func":"msg.payload.content = \"What storage blob do you want to store the results of face recognition?\";\nmsg.payload.type = \"message\";\ncontext.global.keyboard = { pending : true };\n\nvar opts = {\n  reply_to_message_id: msg.payload.messageId,\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n          {\n              \"text\": \"FaceBot-Tier1-Storage\",\n              \"callback_data\": \"GCP-Storage tier1\"\n          }, \n          {\n              \"text\": \"FaceBot-Tier2-Storage\",\n              \"callback_data\": \"GCP-Storage tier2\"\n          }]\n        ],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\nmsg.payload.options = opts;\n\nreturn [ msg ];","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["b301340b.b19548"]]},{"id":"454ac54.2ccdf3c","type":"telegram event","z":"2caeec2a.29aaf4","name":"","bot":"ea3e4197.aac14","event":"callback_query","autoanswer":false,"x":100,"y":260,"wires":[["b1d401d0.9366c"]]},{"id":"b2e7886a.6b0898","type":"function","z":"2caeec2a.29aaf4","name":"set  answer options","func":"\n// check if the callback is from setting the privacy label phase\nif (typeof (msg.payload.content) === 'string' && msg.payload.content.startsWith('GCP-Storage')) {\n    msg.gcpStorage = msg.payload.content.split(' ')[1];\n    msg.recognitionReq = {reqId: msg.payload.messageId ,gcpStorage: msg.gcpStorage};\n}\n\nmsg.payload.type = 'message';\nmsg.payload.content = \"Please send the photo of faces to recognize\";\nmsg.payload.options = {reply_to_message_id : msg.payload.messageId}\n\nreturn [ msg ];\n","outputs":"1","noerr":0,"x":470,"y":260,"wires":[["71382fbc.a0f45","89655c3f.9bc5d"]],"privacy_labels":{"recognitionReq":{"id":"recognitionReq","data_property":"recognitionReq","access_control":"reader","fill":"#c64325","text":"recognitionReq"}}},{"id":"b301340b.b19548","type":"telegram sender","z":"2caeec2a.29aaf4","name":"send storage prompt","bot":"ea3e4197.aac14","haserroroutput":false,"outputs":1,"x":540,"y":200,"wires":[[]]},{"id":"89655c3f.9bc5d","type":"debug","z":"2caeec2a.29aaf4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":180,"wires":[]},{"id":"b1d401d0.9366c","type":"tracker-config","z":"2caeec2a.29aaf4","fileNameType":"defineRulesHere","labellerFileType":"passFileName","policyFileName":"","labellerFileName":"","rules":[{"source":"public","sink":"tier1","action":"allow"},{"source":"private","sink":"tier1","action":"allow"},{"source":"public","sink":"tier2","action":"allow"},{"source":"private","sink":"tier2","action":"disallow"}],"labellers":[{"label":"recognitionReq","func":"obj => obj.obj.gcpStorage"},{"label":"recognizedUsers","func":"users => {const privacyLevels = []; users.obj.forEach((user, index) => {const privacyLevel = index % 2 === 0 ? 'public' : 'private'; privacyLevels.push(privacyLevel);});return privacyLevels;}"}],"x":280,"y":260,"wires":[["b2e7886a.6b0898"]],"privacy_labels":{}},{"id":"7640734.39af98c","type":"debug","z":"2caeec2a.29aaf4","name":"recognition","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":400,"wires":[]},{"id":"184844da.f6857b","type":"telegram sender","z":"2caeec2a.29aaf4","name":"send msg","bot":"ea3e4197.aac14","haserroroutput":false,"outputs":1,"x":560,"y":40,"wires":[[]]},{"id":"87ff18de.1d3de8","type":"function","z":"2caeec2a.29aaf4","name":"Notify Err to User","func":"msg.payload = {content: msg.error.message, chatId: msg.chatId, type: 'message'};\n//msg.payload.content = msg.error.msg;\n//msg.payload.type = 'message';\n//msg.payload.options = {reply_to_message_id : msg.messageId}\n\nreturn  [ msg ] ;","outputs":1,"noerr":0,"x":350,"y":40,"wires":[["184844da.f6857b","563bc5f8.3401bc"]]},{"id":"501c056e.0414fc","type":"csv","z":"8d844641.9cf868","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"uid, role, name, number, region","skip":"0","x":170,"y":180,"wires":[["55f442c0.7728bc"]],"privacy_labels":{}},{"id":"5b151811.9aabb8","type":"file in","z":"8d844641.9cf868","name":"Read CSV File","filename":"users.csv","format":"utf8","chunk":false,"sendError":false,"x":600,"y":60,"wires":[["501c056e.0414fc"]]},{"id":"55f442c0.7728bc","type":"switch","z":"8d844641.9cf868","name":"Load Balancer","property":"msg.payload.uid % 3","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":420,"y":180,"wires":[["6009d54b.1aa2cc"],["39b0628e.c15d7e"],["bd76b4b9.672588"],[]],"privacy_labels":{"userLoc":{"id":"userLoc","data_property":"payload","access_control":"owner","fill":"#f404e0","text":"userLoc"}}},{"id":"6009d54b.1aa2cc","type":"function","z":"8d844641.9cf868","name":"worker_1","func":"console.log('processing in worker 1');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["7bc3e016.68cd2"]],"privacy_labels":{"workerNodeRegion":{"id":"workerNodeRegion","node_labeller":"function label(nodeObj, deviceContext, modules) {   \n    return deviceContext.privacyTags.region; \n}","fill":"#068c99","text":"workerNodeRegion"}}},{"id":"ef3cabb5.931098","type":"inject","z":"8d844641.9cf868","name":"Start Processing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["a03b5253.0ba75"]]},{"id":"39b0628e.c15d7e","type":"function","z":"8d844641.9cf868","name":"worker_2","func":"console.log('processing in worker 2');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["7bc3e016.68cd2"]],"privacy_labels":{"workerNodeRegion":{"id":"workerNodeRegion","node_labeller":"function label(nodeObj, deviceContext, modules) {   \n    return deviceContext.privacyTags.region; \n}","fill":"#068c99","text":"workerNodeRegion"}}},{"id":"bd76b4b9.672588","type":"function","z":"8d844641.9cf868","name":"worker_3","func":"console.log('processing in worker 3');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":320,"wires":[["7bc3e016.68cd2"]],"privacy_labels":{"workerNodeRegion":{"id":"workerNodeRegion","node_labeller":"function label(nodeObj, deviceContext, modules) {   \n    return deviceContext.privacyTags.region; \n}","fill":"#068c99","text":"workerNodeRegion"}}},{"id":"7bc3e016.68cd2","type":"debug","z":"8d844641.9cf868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":160,"wires":[]},{"id":"a03b5253.0ba75","type":"tracker-config","z":"8d844641.9cf868","fileNameType":"defineRulesHere","labellerFileType":"passFileName","policyFileName":"","labellerFileName":"","rules":[{"source":"europe","sink":"us","action":"disallow"},{"source":"europe","sink":"asia","action":"disallow"},{"source":"us","sink":"asia","action":"disallow"},{"source":"europe","sink":"macOS","action":"disallow"},{"source":"asia","sink":"Linux","action":"disallow"}],"labellers":[{"label":"userLoc","func":"user => user.obj.region"}],"x":380,"y":60,"wires":[["5b151811.9aabb8"]]},{"id":"d3503374.95f6b","type":"debug","z":"8d844641.9cf868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":380,"wires":[],"privacy_labels":{}},{"id":"75d86a5.2a16f94","type":"catch","z":"8d844641.9cf868","name":"","scope":null,"x":80,"y":380,"wires":[["d3503374.95f6b"]]},{"id":"e2591d0c.1f49e","type":"csv","z":"e3de08a4.28d6f8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"uid, role, name, number, region","skip":"0","x":530,"y":80,"wires":[["451963c7.2ec44c"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"},"link":{"0_451963c7.2ec44c":"1N"}},"privacy_labels":{"userLoc":{"id":"userLoc","data_property":"payload","access_control":"owner","fill":"#f404e0","text":"userLoc"}}},{"id":"4807fabb.3cac44","type":"file in","z":"e3de08a4.28d6f8","name":"Read CSV File","filename":"users.csv","format":"utf8","chunk":false,"sendError":false,"x":340,"y":80,"wires":[["e2591d0c.1f49e"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"451963c7.2ec44c","type":"function","z":"e3de08a4.28d6f8","name":"process_user","func":"console.log('processing in worker 1');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["bab23981.e5b878"]],"privacy_labels":{"workerNodeOSVer":{"id":"workerNodeOSVer","node_labeller":"function label(nodeObj, deviceContext, modules) {\n    const child_process = modules.child_process;\n    const execSync = child_process.execSync;\n    \n    const bashScript = `\n        # Check if the OS is Linux\n        if [ \"$(uname)\" = \"Linux\" ]; then\n            # Return Linux OS type\n            echo \"Linux\"\n        elif [ \"$(uname)\" = \"Darwin\" ]; then\n            # Return macOS OS type\n            echo \"macOS\"\n        else\n            # Return Windows OS type\n            echo \"Windows\"\n        fi\n    `;\n\n    const stdout = execSync(bashScript);\n    return stdout.toString().trim();\n}","node_labeller_modules":"child_process","fill":"#4286f4","text":"workerNodeOSVer"}}},{"id":"80b53657.9593e8","type":"inject","z":"e3de08a4.28d6f8","name":"Start Processing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["4807fabb.3cac44"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"bab23981.e5b878","type":"debug","z":"e3de08a4.28d6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":80,"wires":[]},{"id":"95453111.76a62","type":"tracker-config","z":"e3de08a4.28d6f8","fileNameType":"defineRulesHere","labellerFileType":"passFileName","policyFileName":"","labellerFileName":"","rules":[{"source":"europe","sink":"us","action":"disallow"},{"source":"europe","sink":"asia","action":"disallow"},{"source":"us","sink":"asia","action":"disallow"},{"source":"europe","sink":"macOS","action":"disallow"},{"source":"asia","sink":"Linux","action":"disallow"}],"labellers":[{"label":"userLoc","func":"user => user.obj.region"}],"x":160,"y":200,"wires":[[]],"constraints":{}},{"id":"2c436a08.3ca726","type":"debug","z":"e3de08a4.28d6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":140,"wires":[],"privacy_labels":{}},{"id":"69214da0.e57324","type":"catch","z":"e3de08a4.28d6f8","name":"","scope":null,"x":120,"y":140,"wires":[["2c436a08.3ca726"]]},{"id":"9ff78728.b9a8d8","type":"csv","z":"e3de08a4.28d6f8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"uid, role, name, number, region","skip":"0","x":530,"y":280,"wires":[["80be2275.a9728"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"},"link":{"0_451963c7.2ec44c":"1N","0_80be2275.a9728":"1N"}},"privacy_labels":{"userLoc":{"id":"userLoc","data_property":"payload","access_control":"owner","fill":"#f404e0","text":"userLoc"}}},{"id":"25dce010.fd5da","type":"file in","z":"e3de08a4.28d6f8","name":"Read CSV File","filename":"users.csv","format":"utf8","chunk":false,"sendError":false,"x":340,"y":280,"wires":[["9ff78728.b9a8d8"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"80be2275.a9728","type":"function","z":"e3de08a4.28d6f8","name":"process_user","func":"console.log('processing in worker 1');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["a9fcf58a.2f30d8"]],"constraints":{"link":{"0_a9fcf58a.2f30d8":"N1"}},"privacy_labels":{"workerNodeOSVer":{"id":"workerNodeOSVer","node_labeller":"function label(nodeObj, deviceContext, modules) {\n    const child_process = modules.child_process;\n    const execSync = child_process.execSync;\n    \n    const bashScript = `\n        # Check if the OS is Linux\n        if [ \"$(uname)\" = \"Linux\" ]; then\n            # Return Linux OS type\n            echo \"Linux\"\n        elif [ \"$(uname)\" = \"Darwin\" ]; then\n            # Return macOS OS type\n            echo \"macOS\"\n        else\n            # Return Windows OS type\n            echo \"Windows\"\n        fi\n    `;\n\n    const stdout = execSync(bashScript);\n    return stdout.toString().trim();\n}","node_labeller_modules":"child_process","fill":"#4286f4","text":"workerNodeOSVer"}}},{"id":"ff102cb4.e6685","type":"inject","z":"e3de08a4.28d6f8","name":"Start Processing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":280,"wires":[["25dce010.fd5da"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"a8bdaeb.414ba5","type":"debug","z":"e3de08a4.28d6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":380,"wires":[],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"a9fcf58a.2f30d8","type":"join","z":"e3de08a4.28d6f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":280,"wires":[["a8bdaeb.414ba5"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"b692e5eb.542398","type":"csv","z":"e3de08a4.28d6f8","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"uid, role, name, number, region","skip":"0","x":510,"y":460,"wires":[["8b855d0.8d16aa"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"},"link":{"0_451963c7.2ec44c":"1N","0_80be2275.a9728":"1N","0_8b855d0.8d16aa":"1N"}},"privacy_labels":{"userLoc":{"id":"userLoc","data_property":"payload","access_control":"owner","fill":"#f404e0","text":"userLoc"}}},{"id":"59e0200e.70755","type":"file in","z":"e3de08a4.28d6f8","name":"Read CSV File","filename":"users.csv","format":"utf8","chunk":false,"sendError":false,"x":320,"y":460,"wires":[["b692e5eb.542398"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"8b855d0.8d16aa","type":"function","z":"e3de08a4.28d6f8","name":"process_user","func":"console.log('processing in worker 1');\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":460,"wires":[["b080441e.aba668"]],"constraints":{"link":{"0_a9fcf58a.2f30d8":"N1","0_b080441e.aba668":"N1"}},"privacy_labels":{"workerNodeRegion":{"id":"workerNodeRegion","node_labeller":"function label(nodeObj, deviceContext, modules) {   \n    return deviceContext.privacyTags.region; \n}","fill":"#068c99","text":"workerNodeRegion"}}},{"id":"ada481fa.4c14a","type":"inject","z":"e3de08a4.28d6f8","name":"Start Processing","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["59e0200e.70755"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"120a896f.1a1567","type":"debug","z":"e3de08a4.28d6f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":560,"wires":[],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}},{"id":"b080441e.aba668","type":"join","z":"e3de08a4.28d6f8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":460,"wires":[["120a896f.1a1567"]],"constraints":{"local":{"id":"local","deviceName":"mohanna_local","fill":"#c64325","text":"local"}}}]